.container {
    width: 480px;
    margin: 25px auto;
    font-size: 18px;
}

.info {
    margin: 20px auto;
    display: block;
    width: 180px;
}

.info span {
    font-size: 48px;
    color: #222;
    margin: 0 5px;
}

.info span:first-child {
    font-size: 14px;
    color: #aaa;
}

.display .title {
    text-align: center;
    text-transform: uppercase;
}

#threshold input {
    padding: 5px;
    width: 95%;
    display: block;
    margin: 25px auto;
}

#notificationToggle {
    padding: 5px;
    width: 180px;
    display: block;
    margin: 0 auto;
}
